# The Battle of Neighbourhoods

## Table of Contents

*This report is presented in the following parts as shown below:*

1. Introduction  
2. Data Used   
3. Methodology  
4. Result  
5. Discussion and Conclusion

## 1) Introduction

### 1.a) Description of the Problem¶

The population of London has grown considerably over the last decades. London is very diverse. It represents what is called the reflection of the old British Empire. 
In London, you can get fresh food supplies from Africa. One begins to wonder how efficient the supply mechanism is.

The real deal is that as much as there are many fine restaurants in London – Asian, Middle Eastern, Latin and American restaurants, you can struggle to find good place to dine in the finest of West African cuisine that has combination of Nigerian, Ghanaian, Cameroonian, Senegalese and more.

### 1.b) Discussion of the Background

My client, a successful restaurant chain in Africa is looking to expand operation into Europe through London. They want to create a high-end restaurant that comes with organic mix and healthy. Their target is not only West Africans, but they are pro-organic and healthy eating. To them every meal counts and counts as a royal when you eat.

Since the London demography is so big, my client needs deeper insight from available data in other to decide where to establish the first Europe “palace” restaurant. This company spends a lot on research and provides customers with data insight into the ingredients used at restaurants.

### 1.3 Target Audience

In [ ]:
Considering the diversity of London, there is a high multicultural sense. London is a place where different shades live. As such, in the search for an high-end African-inclined restaurant, there is a high shortage. The target audience is broad, it ranges from Londoners, tourists and those who are passionate about organic food.

## Data Used

### 2.a) Description of Data

This project will rely on public data from Wikipedia and Foursquare.

### 2.a.1) Description of Data

In this project, London will be used as synonymous to the "Greater London Area" in this project. Within the Greater London Area, there are areas that are within the London Area Postcode. The focus of this project will be the nieghbourhoods are that are within the London Post Code area.

The London Area consists of 32 Boroughs and the "City of London". Our data will be from the link - Greater London Area <https://en.wikipedia.org/wiki/List_of_areas_of_London >

#### *The web scrapped of the Wikipedia page for the Greater London Area data is provided below:*

In [3]:
from bs4 import BeautifulSoup

# library to handle data in a vectorized manner
import numpy as np

# library for data analsysis
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# library to handle JSON files
import json
print('numpy, pandas, ..., imported...')

!pip -q install geopy
# conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
print('geopy installed...')
# convert an address into latitude and longitude values
from geopy.geocoders import Nominatim
print('Nominatim imported...')

numpy, pandas, ..., imported...
geopy installed...
Nominatim imported...

In [4]:
# library to handle requests
import requests
print('requests imported...')

# tranform JSON file into a pandas dataframe
from pandas.io.json import json_normalize
print('json_normalize imported...')

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
print('matplotlib imported...')

# import k-means from clustering stage
from sklearn.cluster import KMeans
print('Kmeans imported...')

# install the Geocoder
!pip -q install geocoder
import geocoder

# import time
import time

# !conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
!pip -q install folium
print('folium installed...')
import folium # map rendering library
print('folium imported...')
print('...Done')

requests imported...
json_normalize imported...
matplotlib imported...
Kmeans imported...
folium installed...
folium imported...
...Done

In [5]:
wikipedia_link = 'https://en.wikipedia.org/wiki/List_of_areas_of_London'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:64.0) Gecko/20100101 Firefox/64.0'}
wikipedia_page = requests.get(wikipedia_link, headers = headers)
wikipedia_page

In [6]:
# Cleans html file
soup = BeautifulSoup(wikipedia_page.content, 'html.parser')
# This extracts the "tbody" within the table where class is "wikitable sortable"
table = soup.find('table', {'class':'wikitable sortable'}).tbody

In [7]:
# Extracts all "tr" (table rows) within the table above
rows = table.find_all('tr')

In [8]:
# Extracts the column headers, removes and replaces possible '\n' with space for the "th" tag
columns = [i.text.replace('\n', '')
           for i in rows[0].find_all('th')]

In [9]:
# Converts columns to pd dataframe
df = pd.DataFrame(columns = columns)
df

Empty DataFrame
Columns: [Location, London borough, Post town, Postcode district, Dial code, OS grid ref]
Index: []

In [10]:
# Extracts every row with corresponding columns
# Then appends the values to the create pd dataframe "df"
# Please note that the first row (row[0]) is skipped because it is already the header
for i in range(1, len(rows)):
    tds = rows[i].find_all('td')
    
    
    if len(tds) == 7:
        values = [tds[0].text, tds[1].text, tds[2].text.replace('\n', ''.replace('\xa0','')), tds[3].text, tds[4].text.replace('\n', ''.replace('\xa0','')), tds[5].text.replace('\n', ''.replace('\xa0','')), tds[6].text.replace('\n', ''.replace('\xa0',''))]
    else:
        values = [td.text.replace('\n', '').replace('\xa0','') for td in tds]
        
        df = df.append(pd.Series(values, index = columns), ignore_index = True)

        df

In [11]:
df.head(5)

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [12]:
df = df.rename(index=str, columns = {'Location': 'Location', 'London\xa0borough': 'Borough', 'Post town': 'Post-town', 'Postcode\xa0district': 'Postcode', 'Dial\xa0code': 'Dial-code', 'OS grid ref': 'OSGridRef'})

In [14]:
df.head(5)

,Location,Borough,Post-town,Postcode,Dial-code,OSGridRef
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [15]:
df['Borough'] = df['Borough'].map(lambda x: x.rstrip(']').rstrip('0123456789').rstrip('['))

In [16]:
df.shape

(533, 6)

In [17]:
df.head(5)

,Location,Borough,Post-town,Postcode,Dial-code,OSGridRef
0,Abbey Wood,"Bexley, Greenwich",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon,CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon,CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [18]:
df0 = df.drop('Postcode', axis=1).join(df['Postcode'].str.split(',', expand=True).stack().reset_index(level=1, drop=True).rename('Postcode'))

In [19]:
df0.head(5)

,Location,Borough,Post-town,Dial-code,OSGridRef,Postcode
0,Abbey Wood,"Bexley, Greenwich",LONDON,020,TQ465785,SE2
1,Acton,"Ealing, Hammersmith and Fulham",LONDON,020,TQ205805,W3
1,Acton,"Ealing, Hammersmith and Fulham",LONDON,020,TQ205805,W4
10,Angel,Islington,LONDON,020,TQ345665,EC1
10,Angel,Islington,LONDON,020,TQ345665,N1

In [20]:
df0.shape

(637, 6)

In [21]:
df1 = df0[['Location', 'Borough', 'Postcode', 'Post-town']].reset_index(drop=True)

In [22]:
df1.head(5)

     Location                         Borough Postcode Post-town
0  Abbey Wood             Bexley,  Greenwich       SE2    LONDON
1       Acton  Ealing, Hammersmith and Fulham       W3    LONDON
2       Acton  Ealing, Hammersmith and Fulham       W4    LONDON
3       Angel                       Islington      EC1    LONDON
4       Angel                       Islington       N1    LONDON

In [23]:
df1.shape

(637, 4)

In [24]:
df2 = df1
df21 = df2[df2['Post-town'].str.contains('LONDON')]

In [25]:
df21.shape

(381, 4)

In [26]:
# Re-assigns the df21 to new dataframe without the Post-town
df3 = df21[['Location', 'Borough', 'Postcode']].reset_index(drop=True)

In [27]:
df3.head(10)

      Location                         Borough Postcode
0   Abbey Wood             Bexley,  Greenwich       SE2
1        Acton  Ealing, Hammersmith and Fulham       W3
2        Acton  Ealing, Hammersmith and Fulham       W4
3        Angel                       Islington      EC1
4        Angel                       Islington       N1
5   Church End                           Brent     NW10
6   Church End                          Barnet       N3
7      Clapham             Lambeth, Wandsworth      SW4
8  Clerkenwell                       Islington      EC1
9    Colindale                          Barnet      NW9

In [29]:
df_london = df3
df_london.to_csv('LondonLocations.csv', index = False)

In [30]:
df_london.head(5)

     Location                         Borough Postcode
0  Abbey Wood             Bexley,  Greenwich       SE2
1       Acton  Ealing, Hammersmith and Fulham       W3
2       Acton  Ealing, Hammersmith and Fulham       W4
3       Angel                       Islington      EC1
4       Angel                       Islington       N1

In [31]:
# New dataframe for South East London postcodes - df_se
df_se = df_london[df_london['Postcode'].str.startswith(('SE'))].reset_index(drop=True)

In [32]:
df_se.head(10)

              Location              Borough Postcode
0           Abbey Wood  Bexley,  Greenwich       SE2
1         Crofton Park             Lewisham      SE4
2            Crossness               Bexley      SE2
3       Crystal Palace              Bromley     SE19
4         Denmark Hill            Southwark      SE5
5             Deptford             Lewisham      SE8
6              Dulwich            Southwark     SE21
7         East Dulwich            Southwark     SE22
8  Elephant and Castle            Southwark      SE1
9               Eltham            Greenwich      SE9

In [33]:
demograph_link = 'https://en.wikipedia.org/wiki/Demography_of_London'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:64.0) Gecko/20100101 Firefox/64.0'}
demograph_page = requests.get(demograph_link, headers = headers)
soup1 = BeautifulSoup(demograph_page.content, 'html.parser')
table1 = soup1.find('table', {'class':'wikitable sortable'}).tbody
rows1 = table1.find_all('tr')
columns1 = [i.text.replace('\n', '')
           for i in rows1[0].find_all('th')]

In [34]:
columns1

['Local authority', 'White', 'Mixed', 'Asian', 'Black', 'Other']

In [35]:
demo_london = pd.DataFrame(columns = columns1)

In [36]:
demo_london.head(5)

Empty DataFrame
Columns: [Local authority, White, Mixed, Asian, Black, Other]
Index: []

In [37]:
demo_london['Black'] = demo_london['Black'].astype('float')

In [38]:
demo_london_sorted = demo_london.sort_values(by='Black', ascending = False)

In [41]:
demo_london_sorted.head()

Empty DataFrame
Columns: [Local authority, White, Mixed, Asian, Black, Other]
Index: []

In [42]:
df_se

,Location,Borough,Postcode
0,Abbey Wood,"Bexley, Greenwich",SE2
1,Crofton Park,Lewisham,SE4
2,Crossness,Bexley,SE2
3,Crystal Palace,Bromley,SE19
4,Denmark Hill,Southwark,SE5
5,Deptford,Lewisham,SE8
6,Dulwich,Southwark,SE21
7,East Dulwich,Southwark,SE22
8,Elephant and Castle,Southwark,SE1
9,Eltham,Greenwich,SE9
10,Falconwood,"Bexley, Greenwich",SE9
11,Bankside,Southwark,SE1
12,Forest Hill,Lewisham,SE23
13,Gipsy Hill,Lambeth,SE19
14,Greenwich,Greenwich,SE10
15,Grove Park,Lewisham,SE12
16,Herne Hill,Lambeth,SE24
17,Hither Green,Lewisham,SE13
18,Honor Oak,Lewisham,SE23
19,Horn Park,"Greenwich, Lewisham",SE12
20,Kennington,"Lambeth, Southwark",SE11
21,Kidbrooke,Greenwich,SE3
22,Ladywell,Lewisham,SE4
23,Lambeth,Lambeth,SE1
24,Lee,Lewisham,SE12
25,Lewisham,Lewisham,SE13
26,Longlands,Bexley,SE9
27,Maze Hill,Greenwich,SE10
28,Middle Park,Greenwich,SE9
29,Mottingham,Bromley,SE9
30,New Cross,Lewisham,SE14
31,New Eltham,Greenwich,SE9
32,Newington,Southwark,SE1
33,Nunhead,Southwark,SE15
34,Bellingham,Lewisham,SE6
35,Peckham,Southwark,SE15
36,Penge,Bromley,SE20
37,Plumstead,Greenwich,SE18
38,Rotherhithe,Southwark,SE16
39,Selhurst,Croydon,SE25
40,Shooter's Hill,Greenwich,SE18
41,Bermondsey,Southwark,SE1
42,South Norwood,Croydon,SE25
43,Southend,Lewisham,SE6
44,St Johns,Lewisham,SE4
45,Surrey Quays,Southwark,SE16
46,"Sydenham (also Lower Sydenham, Upper Sydenham)","Lewisham, Bromley",SE26
47,Sydenham Hill,"Lewisham, Southwark",SE21
48,Thamesmead,"Bexley, Greenwich",SE28
49,Tulse Hill,Lambeth,SE24
50,Upper Norwood,Croydon,SE19
51,Walworth,Southwark,SE17
52,Well Hall,Greenwich,SE9
53,Blackheath,Lewisham,SE3
54,West Heath,Bexley,SE2
55,Blackheath Royal Standard,Greenwich,SE3
56,West Norwood,Lambeth,SE27
57,Westcombe Park,Greenwich,SE3
58,Woolwich,Greenwich,SE18
59,Brockley,Lewisham,SE4
60,Camberwell,Southwark,SE5
61,Catford,Lewisham,SE6
62,Charlton,Greenwich,SE7
63,Anerley,Bromley,SE20
64,Chinbrook,Lewisham,SE12

In [43]:
df_se_top = df_se[df_se['Borough'].isin(['Lewisham', 'Southwark', 'Lambeth', 'Hackney', 'Croydon'])].reset_index(drop=True)

In [44]:
df_se_top.head(5)

       Location    Borough Postcode
0  Crofton Park   Lewisham      SE4
1  Denmark Hill  Southwark      SE5
2      Deptford   Lewisham      SE8
3       Dulwich  Southwark     SE21
4  East Dulwich  Southwark     SE22

In [45]:
df_se_top.shape

(38, 3)

In [46]:
df_se.shape

(65, 3)

In [47]:
# Defining a function to use --> get_latlng()'''
def get_latlng(arcgis_geocoder):
    
    # Initialize the Location (lat. and long.) to "None"
    lat_lng_coords = None
    
    # While loop helps to create a continous run until all the location coordinates are geocoded
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, London, United Kingdom'.format(arcgis_geocoder))
        lat_lng_coords = g.latlng
    return lat_lng_coords
# Geocoder ends here

In [48]:
sample = get_latlng('SE2')
sample

[51.492450000000076, 0.12127000000003818]

In [54]:
gg = geocoder.geocodefarm(sample, method = 'reverse')
gg

<[OK] Geocodefarm - Reverse [Harrow Manor Way, London, SE2 9SW, United Kingdom]>

In [58]:
start = time.time()

postal_codes = df_se_top['Postcode']    
coordinates = [get_latlng(postal_code) for postal_code in postal_codes.tolist()]

end = time.time()
print("Time of execution", end - start, "seconds")

Time of execution 19.621439456939697 seconds

In [61]:
df_se_loc = df_se_top

# The obtained coordinates (latitude and longitude) are joined with the dataframe as shown
df_se_coordinates = pd.DataFrame(coordinates, columns = ['Latitude', 'Longitude'])
df_se_loc['Latitude'] = df_se_coordinates['Latitude']
df_se_loc['Longitude'] = df_se_coordinates['Longitude']

In [62]:
df_se_loc.head(5)

       Location    Borough Postcode  Latitude  Longitude
0  Crofton Park   Lewisham      SE4  51.46268   -0.03558
1  Denmark Hill  Southwark      SE5  51.47480   -0.09313
2      Deptford   Lewisham      SE8  51.48114   -0.02467
3       Dulwich  Southwark     SE21  51.44100   -0.08897
4  East Dulwich  Southwark     SE22  51.45256   -0.07076

In [63]:
df_se_loc.to_csv('SELondonLocationsCoordinates.csv', index = False)

In [64]:
df_se_loc.shape

(38, 5)

The Foursquare API will be used to obtain the South East London Area venues for the geographical location data . These will be used to explore the neighbourhoods of London acordingly.

The venues within the neighbourhoods of South East London like the areas's restaurants and proximity to amenities would be correlated. Also, accessibility and ease of supplies would be considered as it relates to venues.

To use the Foursquare API, we define the Foursquare Credentials and Version as shown below:

Please note that due to privacy, the personal Foursquare Credential has been stored in a .json <fsquarecredential.json> and called appropriately as shown below

## 3. Methodology

### 3.a) Data Exploration

#### 3.a.1) Single Neighbourhood

An initial exploration of a single Neighbourhood within the London area was done to examine the Foursquare workability. The Lewisham Borough postcode SE13 and Location - Lewisham is used for this.

In [66]:
# Resets the current index to a new
se_df = df_se_loc.reset_index().drop('index', axis = 1)

In [67]:
se_df.shape

(38, 5)

In [68]:
se_df

               Location    Borough Postcode  Latitude  Longitude
0          Crofton Park   Lewisham      SE4  51.46268   -0.03558
1          Denmark Hill  Southwark      SE5  51.47480   -0.09313
2              Deptford   Lewisham      SE8  51.48114   -0.02467
3               Dulwich  Southwark     SE21  51.44100   -0.08897
4          East Dulwich  Southwark     SE22  51.45256   -0.07076
5   Elephant and Castle  Southwark      SE1  51.49996   -0.09568
6              Bankside  Southwark      SE1  51.49996   -0.09568
7           Forest Hill   Lewisham     SE23  51.44122   -0.04764
8            Gipsy Hill    Lambeth     SE19  51.41990   -0.08808
9            Grove Park   Lewisham     SE12  51.44759    0.01350
10           Herne Hill    Lambeth     SE24  51.45529   -0.09928
11         Hither Green   Lewisham     SE13  51.46196   -0.00754
12            Honor Oak   Lewisham     SE23  51.44122   -0.04764
13             Ladywell   Lewisham      SE4  51.46268   -0.03558
14              Lambeth    Lambeth      SE1  51.49996   -0.09568
15                  Lee   Lewisham     SE12  51.44759    0.01350
16             Lewisham   Lewisham     SE13  51.46196   -0.00754
17            New Cross   Lewisham     SE14  51.47489   -0.04038
18            Newington  Southwark      SE1  51.49996   -0.09568
19              Nunhead  Southwark     SE15  51.47218   -0.06779
20           Bellingham   Lewisham      SE6  51.43722   -0.01868
21              Peckham  Southwark     SE15  51.47218   -0.06779
22          Rotherhithe  Southwark     SE16  51.49574   -0.05157
23             Selhurst    Croydon     SE25  51.39925   -0.07414
24           Bermondsey  Southwark      SE1  51.49996   -0.09568
25        South Norwood    Croydon     SE25  51.39925   -0.07414
26             Southend   Lewisham      SE6  51.43722   -0.01868
27             St Johns   Lewisham      SE4  51.46268   -0.03558
28         Surrey Quays  Southwark     SE16  51.49574   -0.05157
29           Tulse Hill    Lambeth     SE24  51.45529   -0.09928
30        Upper Norwood    Croydon     SE19  51.41990   -0.08808
31             Walworth  Southwark     SE17  51.48764   -0.09542
32           Blackheath   Lewisham      SE3  51.47138    0.02338
33         West Norwood    Lambeth     SE27  51.43407   -0.10375
34             Brockley   Lewisham      SE4  51.46268   -0.03558
35           Camberwell  Southwark      SE5  51.47480   -0.09313
36              Catford   Lewisham      SE6  51.43722   -0.01868
37            Chinbrook   Lewisham     SE12  51.44759    0.01350

In [69]:
se_df.loc[se_df['Location'] == 'Lewisham']

    Location   Borough Postcode  Latitude  Longitude
16  Lewisham  Lewisham     SE13  51.46196   -0.00754

In [70]:
se_df.loc[20, 'Location']

'Bellingham'

In [71]:
lewisham_lat = se_df.loc[20, 'Latitude']
lewisham_long = se_df.loc[20, 'Longitude']
lewisham_loc = se_df.loc[20, 'Location']
lewisham_postcode = se_df.loc[20, 'Postcode']

print('The latitude and longitude values of {} with postcode {}, are {}, {}.'.format(lewisham_loc,
                                                                                         lewisham_postcode,
                                                                                         lewisham_lat,
                                                                                         lewisham_long))

The latitude and longitude values of Bellingham with postcode SE6, are 51.43722000000008, -0.018679999999960728.

In [72]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

#### 3.a.2) Multiple Neighbourhoods

Now let's explore (Multiple) Neighborhoods in the South East London area. To do this, the function getNearbyVenues is used and it's created to repeat the same process for all neighborhoods.

In [73]:
address = 'London, United Kingdom'

geolocator = Nominatim(user_agent="ln_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of London are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of London are 51.5073219, -0.1276474.

In [74]:
# df_london_coordinates
map_london = folium.Map(location = [latitude, longitude], zoom_start = 12)
map_london

In [75]:
# Adding markers to map
for lat, lng, borough, loc in zip(se_df['Latitude'], 
                                  se_df['Longitude'],
                                  se_df['Borough'],
                                  se_df['Location']):
    label = '{} - {}'.format(loc, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7).add_to(map_london)  
    
display(map_london)

In [76]:
type(se_df)

pandas.core.frame.DataFrame

In [77]:
%matplotlib inline
import matplotlib
import numpy as np

To get the optimal number of clusters to be used for the K-mean, there are a number ways possible for the evaluation. Therefore, in this task, the following are used:

Elbow (Criterion) Method 2. Silhouette Coefficient ### 1. Elbow Method
The elbow method is used to solve the problem of selecting k. Interestingly, the elbow method is not perfect either but it gives significant insight that is perhaps not top optimal but sub-optimal to choosing the optimal number of clusters by fitting the model with a range of values for k.

The approach for this is to run the k-means clustering for a range of value k and for each value of k, the Sum of the Squared Errors (SSE) is calculated., calculate sum of squared errors (SSE). When this is done, a plot of k and the corresponding SSEs are then made. At the elbow (just like arm), that is where the optimal value of k is. And that will be the number of clusters to be used. The whole idea is to have minimum SSE.